
header {
  width: 100%;
  height: 55em;
  background-image: url(https://cdn.webhotelier.net/photos/w=1920/turibeach/L309007.jpg);
}

h1 {
  font-weight: bold;
  font-family: Inspiration, cursive;
  text-align: center;
  position: relative;
  top: 7em;
  color: rgb(0, 0, 0);
  font-size: 55px;
}

.countries {
  margin: 7em;
}

.card:hover {
  transition: 1s;
  transform: scale(1.1);
}

.card {
  transition: transform 1s ease-in-out;
}

@media screen and (max-width: 600px) {
  .card {
    display: inline-block;
  }
}